[submodule "mi-sandbox"]
	path = mi-sandbox
	url = git@github.com:unrelentingfox/mi-sandbox.git
	ignore = dirty
[submodule "pi-nvim"]
	path = pi-nvim
	url = git@github.com:carderne/pi-nvim.git
	ignore = dirty
[submodule "pi-web-access"]
	path = pi-web-access
	url = https://github.com/nicobailon/pi-web-access.git
